<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="interviewQuestionsAppModule">
<head>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Directives/InterviewQnsAppDir.js"></script>
    <script src="choosecategorylevelctrl.js"></script>
    <script src="../Services/choosecategorylevelservice.js"></script>

    <title></title>
</head>
<body ng-controller="choosecategorylevelctrl">
    <div>
        <select id="selcat" ng-model="list_category" ng-options="obj.id as obj.subject for obj in categories">
            <option value="">Other</option>
        </select> 
    </div>
    <div>
        <select id="sellev" ng-model="list_level" ng-options="obj.id as obj.levelType for obj in levels">
            <option value="">Other</option>
        </select>
    </div>
    <button id="aq">Add Questions</button>
</body>
</html>
